

// DEFAULT CONIG FOR RNASEQ
// --------------------------------------------------------------------------------------
// Parameters NOT set in 'nextflow.params.<id>.config'
// --------------------------------------------------------------------------------------

// Define singularity specs
singularity {
    enabled = true
    runOptions = '--bind /projects/fs1/'
}

// GENERAL PARAMS
// -------------

params {
    // cpu and memory specs -
    // params used by the different processes in nextflow main script
    // ---------------------------
    cpu_min = 2
    cpu_standard = 6
    cpu_mid = 10
    cpu_high = 16
    cpu_max = 28

    mem_min = '6 GB'
    mem_standard = '32 GB'
    mem_mid = '64 GB'
    mem_high = '100 GB'
    mem_max = '360 GB'

    // run modules section
    // Mostly used for debugging and filed runs
    run_move_fastq              =  true // if to move fastqq files from input folder to (delivery) nextflow folder
    run_fastqc                  =  true
    run_fastqscreen             =  true
    run_multiqc                 =  true

    fastqscreen_config  =  "/projects/fs1/shared/references/FastQ_Screen_Genomes/fastq_screen.conf"

}



// Process speicfic parameters
// ------


process {
          executor = 'slurm'
          // use samtools container for regular file
          container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/singularity-nfcore-base.sif'
          time = '120h'
          cpus = '16'

          withName:fastqc {
            container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/singularity-fastqc-0.11.0.sif'
            }
          withName:fastqscreen {
            container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/singularity-fastq_screen-0.14.0.sif'
            }
          withName:multiqc {
              container = '/projects/fs1/shared/ctg-containers/ctg-rnaseq/singularity-multiqc-1.11.sif'
              }
}
